<div class="row">
    <div class="col-12">
        <h1 class="text-primary text-uppercase">Add course</h1>
    </div>
    <div class="col-12">
        <form class="row g-3 needs-validation" method="post" action="addcourse" novalidate>
            <div class="col-md-12">
                <label for="validationCustom03" class="form-label">Course name</label>
                <input type="text" class="form-control" name="title" id="validationCustom03" required>
                <div class="invalid-feedback">
                    enter correct value
                </div>
            </div>
            <div class="col-md-12">
                <label for="validationCustom03" class="form-label">Course price</label>
                <input type="number" class="form-control" name="price" id="validationCustom03" required>
                <div class="invalid-feedback">
                    enter correct value
                </div>
            </div>
            <div class="col-md-12">
                <label for="validationCustom03" class="form-label">Course img url</label>
                <input type="text" class="form-control" name="url" id="validationCustom03" required>
                <div class="invalid-feedback">
                    enter correct value
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add course</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                });
    })()
</script>